<div id="personnel-pane">
    <form>
    <h4><input type="text" id="personnel-name" value=""></input></h4>
    Account Type: <span id="personnel-account-type">personnel</span><br>
    Address: <input id="personnel-address" value=""></input><br>
    <br>
    Email: <input id="personnel-email" value=""></input><br>
    Mobile: <input id="personnel-mobile" value=""></input><br>
    Password: <input id="personnel-password" value=""></input><br>
    <br>
    Active Bookings:<br>
    <span id="personnel-active-bookings"></span><br>
    <br>
    Uploaded Documents:<br>
    <span id="personnel-documents">None</span>
    <br>
    Additional Notes<br>
    <span id="personnel-notes">None</span><br>
    <div class="bottom-right btn-group btn-group-2">
        <button onClick="createPersonnel(); return false;">Save Changes</button>
        <button onClick="loadBlock('personnelInfo', '#personnel-pane', {}); return false;">Cancel Changes</button>
    </div>
    </form>
</div>
