<div id="client-pane">
    <h4><span id="client-{{client["id"]}}-name">{{ client["name"] }}</span></h4>
     Address: <span id="client-{{client["id"]}}-address">{{ client["address"] }}</span><br>
     <br>
     Email: <span id="client-{{client["id"]}}-email">{{ client["email"] }}</span><br>
     Mobile: <span id="client-{{client["id"]}}-mobile">{{ client["mobile"]  }}</span><br>
     <br>
     Active Bookings:<br>
     <span id="client-{{client["id"]}}-active-bookings"></span><br>
     <br>
     Uploaded Documents:<br>
     <span id="client-{{client["id"]}}-documents">None</span>
     </div>
</div>
