<div id="registration-form">
    <article class="card-body card-body-sign-in">
        <h4 class="card-title text-center mb-4 mt-1">Register</h4>
        <hr>
        <p class="text-success text-center" id="register-msg"></p>
		<form onsubmit="return false;"> <!-- action="/api/entity/register/" method="post"> -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input id="register-email" name="email" class="form-control" placeholder="Email or login" type="email">
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input class="form-control" id="register-name" name="firstName" placeholder="First Name" type="name">
                </div> <!-- input-group.// -->
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input class="form-control" id="register-surname" name="surname" placeholder="Surname">
                </div> <!-- input-group.// -->
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input class="form-control" id="register-address" name="address" placeholder="Address">
                </div> <!-- input-group.// -->
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" id="register-pass" name="password" placeholder="******" type="password">
                </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
                <button type="submit" id="btnRegister" class="btn btn-primary btn-block" onClick="createClient();">Register</button>
            </div> <!-- form-group// -->
            <p class="text-center"><a href="#" class="btn">Forgot password?</a></p>
        </form>
    </article>
</div>
